*{
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
.navbar {
    z-index: 2;
    position: sticky;
    top: 0%;
    background-color: #062e61;
}

.logo img {
    max-width: 185px;
}

.nrow {
    width: 100%;
}

ul li a {
    text-decoration: none;
    color: white;

    /* margin-right: 20px; */
}

ul li a:hover {
    color: rgb(206, 205, 205);
}

ul li {
    margin-top: 10px;
    list-style: none;
    display: flex;
    /* margin-right: 30px; */

}

.btn a {
    text-decoration: none;
    background-color: #3abba7;
    color: white;
    padding: 10px 30px;
    border-radius: 15px 0px 15px 0px;
}

.btn a:hover {
    background-color: #50baaa;
    color: black;
}

.manu {
    align-items: center;
    justify-content: space-around;
}

/* secion1/ */

.heading h1 {
    font-size: 60px;
    font-weight: 600;
    color: white;
    font-family: 'Space Grotesk', sans-serif;

}

.section1 {
    background-color: #140d36;
    padding-top: 50px 0px;

}

.heading {
    padding-top: 100px;
}

.heading p {
    color: white;
    font-size: 20px;

}

input[type=search] {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px 17px;
    border: 1px solid white;
    border-radius: 5px;
    width: 50%;
    margin-top: 25px;
}

input[type=submit] {
    padding: 13px 35px;
    border-radius: 6px;
    color: white;
    background-color: #3abba7;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    transition: 1s;

}

.hero {
    display: flex;

}

.hero img {
    padding-top: 40px;
    max-width: 100%;
    animation: moveLeftRight 6s linear infinite;


}

@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(20px);
        /* Adjust the distance */
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-20px);
        /* Adjust the distance */
    }

    100% {
        transform: translateX(0);
    }
}

input[type=submit]:hover {
    background-color: rgba(212, 40, 40, 0);
    border: 2px solid #3abba7;
}

/* .section2 */

/* input[type=submit]::after{
    content: '»';
  position: absolute;
  opacity: 0;  

  transition: 0.5s;
} */
/* .section2{
    background-color: #140d36;
    padding: 50px 0px;
}
.slidimgs .brand__image{
    padding: 19px 27px;
    z-index: -1;
    max-width: 100% !important;
    min-width: 200px;
}
.slidimgs img:hover{
   background-color: #002248;
}*/

.section2 {
    background-color: #140d36;
    padding: 50px 0;
}

.brand-carousel {
    margin-top: 4%;
}

.single-logo {
    padding: 19px 27px;
    text-align: center;
    min-width: 200px;
    transition: background-color 0.3s ease-in-out;
}

.brand__image {
    max-width: 100%;
    height: auto;
}

.single-logo:hover {
    background-color: #002248;
}

/* .section3 */

.section3 {
    padding: 50px 0px;
    background-color: #140d36;
}

.h2 h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
    font-family: 'Space Grotesk', sans-serif;

}

.h2 p {
    padding-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 400;

}

.btn2 {
    align-items: center;
}

.btn2 a {
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 6px;
    color: white;
    background-color: #3abba7;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.parentbox {
    position: relative;
    overflow: hidden;
}

.iconbox {
    z-index: 1;
    position: relative;
    padding: 60px 36px;
    /* width: 30%; */
    background-color: #0a315c;
    border-radius: 4px;
    margin: 10px 0px;
}

.iconbox h3 {
    color: white;
    padding-top: 30px;

}

.iconbox p {
    color: white;
    padding-top: 20px;
}

.iconbtn {
    padding-top: 10px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.iconbtn i.fa-solid.fa-arrow-right {

    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 5px;
    margin-top: 10px;
    font-weight: smaller;
}

.iconbtn i.fa-solid.fa-arrow-right:hover {
    color: rgb(194, 191, 191);
    margin-left: 15px;
}

.iconbox {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.iconbox:hover h3,
.iconbox:hover .iconbtn {
    color: #2f9f99;
}

.iconbox::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -268px;
    /* Adjust the initial right position as needed */
    margin: auto;
    width: 96%;
    height: 110%;
    background: #002248;
    transition: transform 0.9s;
    z-index: -1;
    border-radius: 100%;
    transform: perspective(500px) rotateY(-90deg);
    opacity: 0;
    /* Initially, make it invisible */
}

.iconbox:hover::after {

    transform: perspective(500px) rotateY(0deg);
    /* Rotate to 0 degrees on hover */
    opacity: 1;
    /* Make it visible on hover */
}

/* section4 */
/* 
.section4 {
    padding: 50px 0px;
}

.aboutimg img {
    max-width: 90%;

}

.aboutcontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aboutcontent h2 {
    font-family: 'Space Grotesk', sans-serif;

    font-size: 41px;
    padding: 10px 0px;
    font-weight: 700;
    color: #00295a;
}

.aboutcontent p {
    font-family: 'Space Grotesk', sans-serif;
    padding: 5px 0px;
    color: rgb(27, 27, 27);
    font-size: 17px;
    font-weight: 600;
}

.icon1p h3,
.icon2p h3,
.icon3p h3,
.icon4p h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    display: inline-block;
    padding: 10px 0px;
}

.icon1,
.icon2,
.icon3,
.icon4 {
    padding-right: 10px;
    font-size: 19px;
    color: #612ef3;
}

.icon2 {
    color: #26c485;
}

.icon3 {
    color: #ff3b34;
}

.icon4 {
    color: #007ed6;
}
.btns{
    padding: 10px 0px;
}

.btn3 {
    display: flex;
    align-items: center;
}

.btn3 a {
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 6px;
    color: white;
    background-color: #3abba7;
    border: none;
    font-size: 18px;
    font-weight: 600;


}

.playbtn {
    cursor: pointer;
    display: inline-block;
    height: 57px;
    width: 60px;
    background-color: #612ef3;
    border-radius: 50%;

}

.fa-play {
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 17px 22px;
    font-size: 20px;
}
.plyc p{
    display: inline-block;
    padding-left: 10px;
    font-size: 18px;
} */

.section4 {
    padding: 100px 0;
}
.aboutimg{
display: flex;
justify-content: start;
}

.aboutimg img {
    animation: upDown 2s ease-in-out infinite;
    max-width: 100%;
}
@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the distance as needed */
    }
}

.aboutcontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aboutcontent h2 {
    font-size: 41px;
    padding: 10px 0;
    font-weight: 700;
    color: #00295a;
}

.aboutcontent p {
    padding: 5px 0;
    color: #1b1b1b;
    font-size: 17px;
    font-weight: 600;
}

.icon1p h3,
.icon2p h3,
.icon3p h3,
.icon4p h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    display: inline-block;
    padding: 10px 0;
}

.icon1, .icon2, .icon3, .icon4 {
    padding-right: 10px;
    font-size: 19px;
    color: #612ef3;
}

.icon2 {
    color: #26c485;
}

.icon3 {
    color: #ff3b34;
}

.icon4 {
    color: #007ed6;
}

.btns {
    padding: 10px 0;
}

.btn3 {
    display: flex;
    align-items: center;
}

.btn3 a {
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 6px;
    color: white;
    background-color: #3abba7;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.playbtn {
    cursor: pointer;
    display: inline-block;
    height: 57px;
    width: 60px;
    background-color: #612ef3;
    border-radius: 50%;
}

.fa-play {
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 17px 22px;
    font-size: 20px;
}

.plyc p{
    display: inline-block;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
}   
.section5{
    padding: 100px 0px;
}
hr{
    color: #3abba7;     
    width: 80%;
    border: 1px solid #3abba7;
    margin: auto;
    
}
.about1 img{
    padding-top: 50px;
    max-width: 100%;
    
    animation: upDown 2s ease-in-out infinite;
}
.about3 h2{
    text-align: center;
    font-size: 41px;
    padding: 10px 0;
    font-weight: 700;
    color: #00295a;

}
.about3 p{
    text-align: center;
    padding: 5px 0;
    color: #1b1b1b;
    font-size: 17px;
    font-weight: 600;
    padding: 0px 100px;
}
.box1 {
    padding: 30px 20px;
    background-color: #f2f4fc;
    margin: 10px 0px;
    border-radius: 4px;
}
.boxcon{
   padding: 50px 0px;
}
.box1 h3{
    padding-bottom: 10px;
    color: #002974;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
}
.box1 p{
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-family: 'Space Grotesk', sans-serif;
}
.section6{
    padding: 50px 0px;
    background-color: #140d36;
}
.sec6{
    padding: 50px 0px;
    text-align: center;
    color: white;
}
.sec6 p{
    padding: 5px 150px;
}
.cardsec{
    padding: 50px 0px;
}
.cardimg{
    max-width: 100%;
    min-width: 50%;
}

.section6 .owl-carousel .owl-item img{
    width: 30% !important;
    justify-content: center;
    margin: auto;
}
.card{
    
    display: flex;
    background-color: #002248;
    padding: 50px 30px;
    text-align: center;
    /* animation: linearGradientMove 0.5s infinite linear; */

}

.card:hover{
    border: 3px dotted #35ad9e ;
    
}

.card:hover .cardtitle h4{
    color: #35ad9e;
}
.fa-star{
    color: #ffc107;
    padding: 30px 3px;
}
.cardp{
    color: #92a0b1;
    padding: 10px 0px;
}
.cardtitle {
    color: white;
}
.cardtitle h4{
    font-size: 20px;
}
.cardtitle span{
    font-size: 15px;
    color: #92a0b1;
    padding: 10px 0px;
}
.check{
    max-width: 90%;
}
.subscription{
    padding: 70px 0px;
    background-color: #002248;
    text-align: center;
    color: white;
    border-radius: 10px ;
}
.subscription h4{
    font-size: 20px;
    font-weight: 600;

}
.subscription h2{
    font-size: 46px;
    font-weight: 700;
    padding: 10px 0px ;
}
.subscription ul{
    
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
    
    align-items: center;
    
}

.subscription ul li{
    text-align: center; 
    display: inline-block;
    margin: 5px 0px;
    margin-top: 30px; 

}
.subscription ul li i{
    color: #1aada7;
    margin-top: 3px;
    margin-right: 10px;
}
footer{
    color: white;
    padding: 70px 0px;
    background: url(footer-bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   width: 100%;
}
.fot1{
    padding-top: 20px;
}
.fot2{
    padding-top: 20px;
}
.fimg{
    max-width: 500px;
    padding-bottom: 10%;
   
}
.fot1 p{
  padding-right: 50px;
}
.sicons{
    display: flex;
}
.fot1 i{
    color: #3abba7;
    background-color: white;
    border-radius: 50%;
    height: 38px;
    width: 41px;
    text-align: center;
    font-size: 21px;
    padding-top: 9px;
    margin-right: 10px;
    margin-top: 15px;
}
.fot2 h4{
    padding-left: 27px;
    font-size: 22px;
}
.fot2 UL{
    padding-top: 10px;
}
.fot2 ul li{
    padding-top: 10px;
}
.fot2 i{
    
    margin-right: 15px;

}
.fot4 i{
    background-color: #002248;
    height: 33px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    font-size: 14px;
    
}
.fot4 li a{
    font-size: 15px;
    font-weight: 500;
}
@media (max-width: 768px) {
    .section1 h1{
        font-size: 30px;
        text-align: center;
    }
    .section1 p{
        text-align: center;
        font-size: 15px;
        font-weight: 300;
    }
  }